[project]
name = "advent-of-code"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "line-profiler[all]>=5.0.0",
    "pillow>=12.0.0",
    "scikit-image>=0.25.2",
]
