use aoc_runner_derive::{aoc, aoc_generator};

#[aoc_generator(day{n})]
fn input_generator(input: &str) -> String {
    input.to_string()
}

#[aoc(day2, part1)]
fn part1(_input: &String) -> u32 {
    0
}
